openapi: 3.1.0
info:
  title: YeYing Node API
  version: 1.0.0
  license:
    name: ISC
    identifier: ISC
  description: YeYing 社区 Node 枢纽服务接口，覆盖身份授权、应用中心、审核、MPC 协调、钱包托管、通知、AppStore Registry 和 release artifact。
servers:
  - url: https://node.yeying.pub
    description: Community production node
tags:
  - name: Health
    description: 服务可用性检查。
  - name: Auth
    description: SIWE、JWT 和中心化 UCAN。
  - name: Identity
    description: 钱包身份 DID、账户关联、邮箱/用户名凭证、身份级 Passkey/TOTP 认证器和授权码登录。
  - name: Profile
    description: 当前认证身份信息。
  - name: Applications
    description: 应用元数据、配置、搜索和发布状态。
  - name: Audits
    description: 应用审核申请和审批。
  - name: MPC
    description: 多方计算会话、消息和事件流。
  - name: Custody
    description: 钱包客户端加密密钥托管。
  - name: Notifications
    description: 通知收件箱、事件流和 Webhook。
  - name: Publisher
    description: 应用发布包提交、审核和 release artifact 管理。
  - name: Admin
    description: 管理员治理接口。
paths:
  /api/v1/public/health:
    get:
      tags:
        - Health
      summary: 健康检查
      operationId: get_api_v1_public_health
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/healthCheck:
    get:
      tags:
        - Health
      summary: 兼容健康检查
      operationId: get_api_v1_public_healthCheck
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/ready:
    get:
      tags:
        - Health
      summary: 数据库就绪检查
      operationId: get_api_v1_public_ready
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/auth/challenge:
    post:
      tags:
        - Auth
      summary: 创建 SIWE 登录挑战
      operationId: post_api_v1_public_auth_challenge
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthChallengeRequest"
  /api/v1/public/auth/verify:
    post:
      tags:
        - Auth
      summary: 验证钱包签名并签发 JWT
      operationId: post_api_v1_public_auth_verify
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthVerifyRequest"
  /api/v1/public/auth/refresh:
    post:
      tags:
        - Auth
      summary: 刷新访问令牌
      operationId: post_api_v1_public_auth_refresh
      security:
        - refreshCookie: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/auth/logout:
    post:
      tags:
        - Auth
      summary: 注销刷新会话
      operationId: post_api_v1_public_auth_logout
      security:
        - refreshCookie: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/auth/central/issuer:
    get:
      tags:
        - Auth
      summary: 查询中心化 UCAN issuer
      operationId: get_api_v1_public_auth_central_issuer
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/auth/central/session:
    post:
      tags:
        - Auth
      summary: 创建中心化签发会话
      operationId: post_api_v1_public_auth_central_session
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/auth/central/issue:
    post:
      tags:
        - Auth
      summary: 签发中心化 UCAN
      operationId: post_api_v1_public_auth_central_issue
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/auth/central/revoke:
    post:
      tags:
        - Auth
      summary: 撤销中心化签发会话
      operationId: post_api_v1_public_auth_central_revoke
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /.well-known/jwks.json:
    get:
      tags:
        - Identity
      summary: 查询钱包身份 issuer JWKS
      operationId: get_well_known_jwks_json
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /.well-known/openid-credential-issuer:
    get:
      tags:
        - Identity
      summary: 查询钱包身份 issuer 元数据
      operationId: get_well_known_openid_credential_issuer
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/identity/status:
    get:
      tags:
        - Identity
      summary: 查询钱包身份 Passkey 运行状态
      operationId: get_api_v1_public_identity_status
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/identity/credentials/status:
    post:
      tags:
        - Identity
      summary: 查询钱包身份凭证状态
      operationId: post_api_v1_public_identity_credentials_status
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityCredentialsStatusRequest"
  /api/v1/public/identity/credentials/reissue/challenge:
    post:
      tags:
        - Identity
      summary: 创建钱包身份凭证自动续签 challenge
      operationId: post_api_v1_public_identity_credentials_reissue_challenge
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityCredentialReissueChallengeRequest"
  /api/v1/public/identity/credentials/reissue/confirm:
    post:
      tags:
        - Identity
      summary: 确认钱包身份凭证自动续签
      operationId: post_api_v1_public_identity_credentials_reissue_confirm
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityCredentialReissueConfirmRequest"
  /api/v1/public/identity/account-links/challenge:
    post:
      tags:
        - Identity
      summary: 创建钱包身份账户关联 challenge
      operationId: post_api_v1_public_identity_account_links_challenge
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityAccountLinkChallengeRequest"
  /api/v1/public/identity/account-links/verify:
    post:
      tags:
        - Identity
      summary: 校验钱包身份账户关联证明
      operationId: post_api_v1_public_identity_account_links_verify
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityAccountLinkVerifyRequest"
  /api/v1/public/identity/verifications/request:
    post:
      tags:
        - Identity
      summary: 请求用户名和邮箱验证
      operationId: post_api_v1_public_identity_verifications_request
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityVerificationRequest"
  /api/v1/public/identity/verifications/confirm:
    post:
      tags:
        - Identity
      summary: 确认验证码并签发钱包身份凭证
      operationId: post_api_v1_public_identity_verifications_confirm
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityVerificationConfirmRequest"
  /api/v1/public/identity/passkeys/register/request:
    post:
      tags:
        - Identity
      summary: 创建身份级 Passkey 注册请求
      operationId: post_api_v1_public_identity_passkeys_register_request
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityPasskeyRegisterRequest"
  /api/v1/public/identity/passkeys/register/confirm:
    post:
      tags:
        - Identity
      summary: 保存身份级 Passkey credential
      operationId: post_api_v1_public_identity_passkeys_register_confirm
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityPasskeyRegisterConfirmRequest"
  /api/v1/public/identity/passkeys/list:
    post:
      tags:
        - Identity
      summary: 查询钱包身份 Passkey credential 列表
      operationId: post_api_v1_public_identity_passkeys_list
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityPasskeyListRequest"
  /api/v1/public/identity/passkeys/revoke:
    post:
      tags:
        - Identity
      summary: 撤销钱包身份 Passkey credential
      operationId: post_api_v1_public_identity_passkeys_revoke
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityPasskeyRevokeRequest"
  /api/v1/public/identity/totp/status:
    get:
      tags:
        - Identity
      summary: 查询钱包身份 TOTP 服务状态
      operationId: get_api_v1_public_identity_totp_status
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/identity/totp/get:
    post:
      tags:
        - Identity
      summary: 查询钱包身份 TOTP 认证器状态
      operationId: post_api_v1_public_identity_totp_get
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityTotpGetRequest"
  /api/v1/public/identity/totp/setup:
    post:
      tags:
        - Identity
      summary: 创建钱包身份 TOTP secret
      operationId: post_api_v1_public_identity_totp_setup
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityTotpSetupRequest"
  /api/v1/public/identity/totp/confirm:
    post:
      tags:
        - Identity
      summary: 使用验证码确认并启用钱包身份 TOTP
      operationId: post_api_v1_public_identity_totp_confirm
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityTotpConfirmRequest"
  /api/v1/public/identity/totp/verify:
    post:
      tags:
        - Identity
      summary: 校验已启用的钱包身份 TOTP 验证码
      operationId: post_api_v1_public_identity_totp_verify
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityTotpConfirmRequest"
  /api/v1/public/identity/totp/revoke:
    post:
      tags:
        - Identity
      summary: 撤销钱包身份 TOTP 认证器
      operationId: post_api_v1_public_identity_totp_revoke
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityTotpRevokeRequest"
  /api/v1/public/identity/authorize/request:
    post:
      tags:
        - Identity
      summary: 创建钱包身份授权码请求
      operationId: post_api_v1_public_identity_authorize_request
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityAuthorizeRequest"
  /api/v1/public/identity/authorize/request/{requestId}:
    get:
      tags:
        - Identity
      summary: 查询钱包身份授权请求
      operationId: get_api_v1_public_identity_authorize_request_requestId
      security: []
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/identity/authorize/challenge:
    post:
      tags:
        - Identity
      summary: 创建无钱包登录 Passkey challenge
      operationId: post_api_v1_public_identity_authorize_challenge
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityAuthorizeChallengeRequest"
  /api/v1/public/identity/authorize/approve:
    post:
      tags:
        - Identity
      summary: 批准钱包身份授权请求
      operationId: post_api_v1_public_identity_authorize_approve
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityAuthorizeApproveRequest"
  /api/v1/public/identity/authorize/exchange:
    post:
      tags:
        - Identity
      summary: 兑换钱包身份授权码
      operationId: post_api_v1_public_identity_authorize_exchange
      security: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityAuthorizeExchangeRequest"
  /api/v1/public/profile/me:
    get:
      tags:
        - Profile
      summary: 查询当前认证身份
      operationId: get_api_v1_public_profile_me
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/applications:
    post:
      tags:
        - Applications
      summary: 创建应用
      operationId: post_api_v1_public_applications
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/applications/{uid}:
    patch:
      tags:
        - Applications
      summary: 更新应用
      operationId: patch_api_v1_public_applications_uid
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
    get:
      tags:
        - Applications
      summary: 查询应用详情
      operationId: get_api_v1_public_applications_uid
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      tags:
        - Applications
      summary: 删除应用
      operationId: delete_api_v1_public_applications_uid
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/applications/{uid}/config:
    get:
      tags:
        - Applications
      summary: 查询应用用户配置
      operationId: get_api_v1_public_applications_uid_config
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
    put:
      tags:
        - Applications
      summary: 更新应用用户配置
      operationId: put_api_v1_public_applications_uid_config
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/applications/by-did:
    get:
      tags:
        - Applications
      summary: 按 DID 和版本查询应用
      operationId: get_api_v1_public_applications_by_did
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/applications/search:
    post:
      tags:
        - Applications
      summary: 搜索应用
      operationId: post_api_v1_public_applications_search
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/applications/{uid}/publish:
    post:
      tags:
        - Applications
      summary: 发布应用
      operationId: post_api_v1_public_applications_uid_publish
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/applications/{uid}/unpublish:
    post:
      tags:
        - Applications
      summary: 下架应用
      operationId: post_api_v1_public_applications_uid_unpublish
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/audits:
    post:
      tags:
        - Audits
      summary: 创建审核申请
      operationId: post_api_v1_public_audits
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/audits/search:
    post:
      tags:
        - Audits
      summary: 搜索审核申请
      operationId: post_api_v1_public_audits_search
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/audits/{uid}:
    get:
      tags:
        - Audits
      summary: 查询审核详情
      operationId: get_api_v1_public_audits_uid
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      tags:
        - Audits
      summary: 撤销审核申请
      operationId: delete_api_v1_public_audits_uid
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/admin/audits/{uid}/approve:
    post:
      tags:
        - Admin
      summary: 批准审核
      operationId: post_api_v1_admin_audits_uid_approve
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/admin/audits/{uid}/reject:
    post:
      tags:
        - Admin
      summary: 驳回审核
      operationId: post_api_v1_admin_audits_uid_reject
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/mpc/sessions:
    post:
      tags:
        - MPC
      summary: 创建 MPC 会话
      operationId: post_api_v1_public_mpc_sessions
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MpcSessionCreateRequest"
  /api/v1/public/mpc/sessions/{sessionId}/join:
    post:
      tags:
        - MPC
      summary: 加入 MPC 会话
      operationId: post_api_v1_public_mpc_sessions_sessionId_join
      security:
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MpcJoinRequest"
  /api/v1/public/mpc/sessions/{sessionId}/cancel:
    post:
      tags:
        - MPC
      summary: 取消未完成的 MPC Keygen 会话
      operationId: post_api_v1_public_mpc_sessions_sessionId_cancel
      security:
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignedActionFields"
  /api/v1/public/mpc/sessions/{sessionId}/messages:
    post:
      tags:
        - MPC
      summary: 发送 MPC 消息
      operationId: post_api_v1_public_mpc_sessions_sessionId_messages
      security:
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
    get:
      tags:
        - MPC
      summary: 拉取 MPC 消息
      operationId: get_api_v1_public_mpc_sessions_sessionId_messages
      security:
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/mpc/sessions/{sessionId}:
    get:
      tags:
        - MPC
      summary: 查询 MPC 会话
      operationId: get_api_v1_public_mpc_sessions_sessionId
      security:
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/mpc/ws:
    get:
      tags:
        - MPC
      summary: 订阅 MPC SSE 事件流
      operationId: get_api_v1_public_mpc_ws
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          description: SSE event stream
          content:
            text/event-stream:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/public/custody/status:
    get:
      tags:
        - Custody
      summary: 查询身份 Passkey 和托管状态
      operationId: get_api_v1_public_custody_status
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          description: 身份 Passkey 和托管记录状态
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustodyStatusEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/custody/secrets:
    get:
      tags:
        - Custody
      summary: 列出托管记录
      operationId: get_api_v1_public_custody_secrets
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
    post:
      tags:
        - Custody
      summary: 上传或更新托管密文
      operationId: post_api_v1_public_custody_secrets
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustodyUpsertRequest"
  /api/v1/public/custody/secrets/{walletId}:
    get:
      tags:
        - Custody
      summary: 获取托管密文
      operationId: get_api_v1_public_custody_secrets_walletId
      security:
        - bearerAuth: []
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      tags:
        - Custody
      summary: 删除托管记录
      operationId: delete_api_v1_public_custody_secrets_walletId
      security:
        - bearerAuth: []
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/custody/recovery/secrets:
    get:
      tags:
        - Custody Recovery
      summary: 使用一次性恢复令牌列出托管记录
      operationId: get_api_v1_public_custody_recovery_secrets
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/custody/recovery/secrets/{walletId}:
    get:
      tags:
        - Custody Recovery
      summary: 使用一次性恢复令牌获取托管密文
      operationId: get_api_v1_public_custody_recovery_secrets_walletId
      security:
        - bearerAuth: []
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/notifications:
    get:
      tags:
        - Notifications
      summary: 查询通知列表
      operationId: get_api_v1_public_notifications
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/notifications/unread-count:
    get:
      tags:
        - Notifications
      summary: 查询未读数量
      operationId: get_api_v1_public_notifications_unread_count
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/notifications/{uid}/read:
    post:
      tags:
        - Notifications
      summary: 标记通知已读
      operationId: post_api_v1_public_notifications_uid_read
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/notifications/read-all:
    post:
      tags:
        - Notifications
      summary: 标记全部已读
      operationId: post_api_v1_public_notifications_read_all
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/notifications/stream:
    get:
      tags:
        - Notifications
      summary: 订阅通知 SSE
      operationId: get_api_v1_public_notifications_stream
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          description: SSE event stream
          content:
            text/event-stream:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/public/notifications/{uid}:
    get:
      tags:
        - Notifications
      summary: 查询通知详情
      operationId: get_api_v1_public_notifications_uid
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/notifications/webhooks:
    get:
      tags:
        - Notifications
      summary: 列出 Webhook
      operationId: get_api_v1_public_notifications_webhooks
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
    post:
      tags:
        - Notifications
      summary: 创建 Webhook
      operationId: post_api_v1_public_notifications_webhooks
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/notifications/webhooks/{uid}:
    patch:
      tags:
        - Notifications
      summary: 更新 Webhook
      operationId: patch_api_v1_public_notifications_webhooks_uid
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
    delete:
      tags:
        - Notifications
      summary: 删除 Webhook
      operationId: delete_api_v1_public_notifications_webhooks_uid
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/notifications/webhooks/{uid}/deliveries:
    get:
      tags:
        - Notifications
      summary: 查询 Webhook 投递
      operationId: get_api_v1_public_notifications_webhooks_uid_deliveries
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/public/notifications/webhooks/{uid}/deliveries/{deliveryUid}/retry:
    post:
      tags:
        - Notifications
      summary: 重试 Webhook 投递
      operationId: post_api_v1_public_notifications_webhooks_uid_deliveries_deliveryUid_retry
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
        - name: deliveryUid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/public/notifications/webhooks/{uid}/replay/{notificationUid}:
    post:
      tags:
        - Notifications
      summary: 重放通知到 Webhook
      operationId: post_api_v1_public_notifications_webhooks_uid_replay_notificationUid
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
        - name: notificationUid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/admin/notifications/{uid}/deliveries:
    get:
      tags:
        - Admin
      summary: 管理员查询通知投递
      operationId: get_api_v1_admin_notifications_uid_deliveries
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/publisher/releases/submit:
    post:
      tags:
        - Publisher
      summary: 提交签名发布包
      operationId: post_api_v1_publisher_releases_submit
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReleaseSubmitRequest"
  /api/v1/admin/releases/{uid}/approve:
    post:
      tags:
        - Admin
      summary: 批准发布包
      operationId: post_api_v1_admin_releases_uid_approve
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/admin/releases/{uid}/reject:
    post:
      tags:
        - Admin
      summary: 驳回发布包
      operationId: post_api_v1_admin_releases_uid_reject
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/admin/users:
    get:
      tags:
        - Admin
      summary: 查询用户列表
      operationId: get_api_v1_admin_users
      security:
        - bearerAuth: []
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/admin/users/{did}:
    get:
      tags:
        - Admin
      summary: 查询用户详情
      operationId: get_api_v1_admin_users_did
      security:
        - bearerAuth: []
      parameters:
        - name: did
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/admin/users/{did}/role:
    patch:
      tags:
        - Admin
      summary: 修改用户角色
      operationId: patch_api_v1_admin_users_did_role
      security:
        - bearerAuth: []
      parameters:
        - name: did
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
  /api/v1/admin/users/{did}/status:
    patch:
      tags:
        - Admin
      summary: 修改用户状态
      operationId: patch_api_v1_admin_users_did_status
      security:
        - bearerAuth: []
      parameters:
        - name: did
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonObject"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT or UCAN
      description: SIWE JWT、钱包签发 UCAN 或中心化签发 UCAN。
    refreshCookie:
      type: apiKey
      in: cookie
      name: refresh_token
  schemas:
    JsonObject:
      type: object
      additionalProperties: true
    Envelope:
      type: object
      required:
        - code
        - message
        - data
        - timestamp
      properties:
        code:
          type: integer
          examples:
            - 0
        message:
          type: string
          examples:
            - ok
        data: {}
        timestamp:
          type: integer
          format: int64
    ErrorEnvelope:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            code:
              type: integer
              minimum: 400
            data:
              type:
                - object
                - "null"
    SignedActionFields:
      type: object
      required:
        - requestId
        - timestamp
        - signature
      properties:
        requestId:
          type: string
          description: 幂等请求 ID / 签名 nonce。
        timestamp:
          oneOf:
            - type: integer
            - type: string
        signature:
          type: string
          description: 钱包 personal_sign 签名。
    AuthChallengeRequest:
      type: object
      required:
        - address
      properties:
        address:
          type: string
          pattern: ^0x[0-9a-fA-F]{40}$
        scope:
          type: array
          items:
            type: string
          description: 可选钱包身份 scope。
    AuthVerifyRequest:
      type: object
      required:
        - address
        - signature
      properties:
        address:
          type: string
          pattern: ^0x[0-9a-fA-F]{40}$
        signature:
          type: string
    IdentityDid:
      type: string
      pattern: ^did:yeying:wid_[A-Za-z0-9_-]{22,}$
    IdentityAccount:
      type: object
      required:
        - chainKey
        - address
      properties:
        chainKey:
          type: string
          examples:
            - eip155:1
        address:
          type: string
          pattern: ^0x[0-9a-fA-F]{40}$
    IdentityAccountLinkChallengeRequest:
      type: object
      required:
        - identity
        - account
      properties:
        identity:
          $ref: "#/components/schemas/IdentityDid"
        account:
          $ref: "#/components/schemas/IdentityAccount"
    IdentityAccountLinkVerifyRequest:
      type: object
      required:
        - identity
        - identityDocument
        - account
        - nonce
        - issuedAt
        - expiresAt
        - accountSignature
      properties:
        identity:
          $ref: "#/components/schemas/IdentityDid"
        identityDocument:
          type: object
          additionalProperties: true
        account:
          $ref: "#/components/schemas/IdentityAccount"
        nonce:
          type: string
        issuedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        accountSignature:
          type: string
          description: 账户钱包对账户关联 message 的签名。
    IdentityVerificationRequest:
      type: object
      required:
        - identity
        - account
        - email
        - types
      properties:
        identity:
          $ref: "#/components/schemas/IdentityDid"
        account:
          $ref: "#/components/schemas/IdentityAccount"
        email:
          type: string
          format: email
        username:
          type: string
          minLength: 3
          maxLength: 32
        type:
          type: string
          enum:
            - email
            - username
        types:
          type: array
          items:
            type: string
            enum:
              - email
              - username
    IdentityVerificationConfirmRequest:
      type: object
      required:
        - verificationId
        - code
        - types
      properties:
        verificationId:
          type: string
        code:
          type: string
        codes:
          type: object
          additionalProperties:
            type: string
        type:
          type: string
          enum:
            - email
            - username
        types:
          type: array
          items:
            type: string
            enum:
              - email
              - username
    IdentityCredentialsStatusRequest:
      type: object
      required:
        - credentials
      properties:
        issuer:
          type: string
        credentials:
          type: array
          minItems: 1
          items:
            type: string
    IdentityCredentialReissueChallengeRequest:
      type: object
      required:
        - identity
        - credentialTypes
      properties:
        identity:
          $ref: "#/components/schemas/IdentityDid"
        credentialTypes:
          type: array
          minItems: 1
          items:
            type: string
            enum:
              - EmailCredential
              - UsernameCredential
    IdentityCredentialReissueConfirmRequest:
      type: object
      required:
        - identity
        - challengeId
        - identityDocument
        - proof
      properties:
        identity:
          $ref: "#/components/schemas/IdentityDid"
        challengeId:
          type: string
        identityDocument:
          type: object
          additionalProperties: true
        proof:
          type: object
          additionalProperties: true
    IdentityPasskeyRegisterRequest:
      type: object
      required:
        - identity
        - identityDocument
      properties:
        identity:
          $ref: "#/components/schemas/IdentityDid"
        identityDocument:
          type: object
          additionalProperties: true
        deviceName:
          type: string
    IdentityPasskeyRegisterConfirmRequest:
      type: object
      required:
        - identity
        - requestId
        - credential
      properties:
        identity:
          $ref: "#/components/schemas/IdentityDid"
        requestId:
          type: string
          description: 注册挑战 requestId。
        deviceName:
          type: string
        credential:
          type: object
          additionalProperties: true
    IdentityPasskeyListRequest:
      type: object
      required:
        - identity
      properties:
        identity:
          $ref: "#/components/schemas/IdentityDid"
    IdentityPasskeyRevokeRequest:
      type: object
      required:
        - identity
        - identityDocument
        - credentialId
      properties:
        identity:
          $ref: "#/components/schemas/IdentityDid"
        identityDocument:
          type: object
          additionalProperties: true
        credentialId:
          type: string
    IdentityTotpGetRequest:
      type: object
      required:
        - identity
      properties:
        identity:
          $ref: "#/components/schemas/IdentityDid"
    IdentityTotpSetupRequest:
      type: object
      required:
        - identity
        - identityDocument
      properties:
        identity:
          $ref: "#/components/schemas/IdentityDid"
        identityDocument:
          type: object
          additionalProperties: true
        deviceName:
          type: string
          description: 用户可识别的 TOTP 认证器名称。
    IdentityTotpConfirmRequest:
      type: object
      required:
        - identity
        - code
      properties:
        identity:
          $ref: "#/components/schemas/IdentityDid"
        code:
          type: string
          minLength: 6
          maxLength: 16
    IdentityTotpRevokeRequest:
      type: object
      required:
        - identity
        - identityDocument
      properties:
        identity:
          $ref: "#/components/schemas/IdentityDid"
        identityDocument:
          type: object
          additionalProperties: true
    IdentityAuthorizeRequest:
      type: object
      required:
        - appId
        - redirectUri
        - codeChallenge
      properties:
        appId:
          type: string
        redirectUri:
          type: string
          format: uri
        state:
          type: string
        scopes:
          type: array
          items:
            type: string
            enum:
              - identity.basic
              - identity.wallet
              - identity.username
              - identity.email
        scope:
          type: array
          items:
            type: string
            enum:
              - identity.basic
              - identity.wallet
              - identity.username
              - identity.email
        codeChallenge:
          type: string
          minLength: 43
          maxLength: 128
        code_challenge:
          type: string
          minLength: 43
          maxLength: 128
        codeChallengeMethod:
          type: string
          enum:
            - S256
        code_challenge_method:
          type: string
          enum:
            - S256
    IdentityAuthorizeChallengeRequest:
      type: object
      required:
        - requestId
      properties:
        requestId:
          type: string
    IdentityAuthorizeApproveRequest:
      type: object
      required:
        - requestId
      properties:
        requestId:
          type: string
        presentation:
          type: object
          additionalProperties: true
          description: Wallet 插件签发的钱包身份 presentation。
        passkeyRequestId:
          type: string
          description: 无 Bearer Passkey approve 时必填。
        challengeId:
          type: string
          description: passkeyRequestId 的兼容别名。
        credential:
          type: object
          additionalProperties: true
    IdentityAuthorizeExchangeRequest:
      type: object
      required:
        - code
        - appId
        - redirectUri
        - codeVerifier
      properties:
        code:
          type: string
        appId:
          type: string
        redirectUri:
          type: string
          format: uri
        codeVerifier:
          type: string
          minLength: 43
          maxLength: 128
        code_verifier:
          type: string
          minLength: 43
          maxLength: 128
    CustodyStatus:
      type: object
      properties:
        subject:
          type: string
        passkeyBound:
          type: boolean
        passkeyCount:
          type: integer
        enabled:
          type: boolean
        recordCount:
          type: integer
        records:
          type: array
          items:
            $ref: "#/components/schemas/CustodyRecord"
    CustodyStatusEnvelope:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/CustodyStatus"
    CustodyRecord:
      type: object
      required:
        - walletId
      properties:
        walletId:
          type: string
        accountId:
          type: string
        address:
          type: string
        ciphertext:
          type: string
          description: 仅详情接口返回的客户端加密密文。
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
        updatedAt:
          type: string
        lastVerifiedAt:
          type: string
    CustodyUpsertRequest:
      type: object
      required:
        - walletId
        - ciphertext
      properties:
        walletId:
          type: string
        accountId:
          type: string
        address:
          type: string
        ciphertext:
          type: string
          description: 必须在客户端完成加密。
        metadata:
          type: object
          additionalProperties: true
    MpcSessionCreateRequest:
      allOf:
        - $ref: "#/components/schemas/SignedActionFields"
        - type: object
          required:
            - type
            - walletId
            - threshold
            - participants
          properties:
            id:
              type: string
            type:
              type: string
            walletId:
              type: string
            threshold:
              type: integer
              minimum: 1
            participants:
              type: array
              items:
                type: string
            curve:
              type: string
            expiresAt:
              type: string
            keyVersion:
              type: integer
            shareVersion:
              type: integer
    MpcJoinRequest:
      allOf:
        - $ref: "#/components/schemas/SignedActionFields"
        - type: object
          required:
            - participantId
            - deviceId
            - identity
            - e2ePublicKey
          properties:
            participantId:
              type: string
            deviceId:
              type: string
            identity:
              type: string
            e2ePublicKey:
              type: string
            signingPublicKey:
              type: string
    ReleaseSubmitRequest:
      type: object
      required:
        - publisher_key_id
        - files
      properties:
        publisher_key_id:
          type: string
        files:
          type: object
          additionalProperties:
            type: string
          description: 文件路径到文本内容的映射。
  responses:
    Success:
      description: 统一成功响应
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Envelope"
    BadRequest:
      description: 请求参数或签名错误
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Unauthorized:
      description: 缺少或无效的 JWT/UCAN/Agent token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Forbidden:
      description: 角色、状态、capability 或资源权限不足
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Conflict:
      description: 幂等冲突、状态冲突或租约冲突
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
